# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [77]:
import numpy as np

2. Create a null vector of size 10

In [78]:
np.zeros((10,10))

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

3. Create a vector with values ranging from 10 to 49

In [79]:
a=np.arange(10,50)
a

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

4. Find the shape of previous array in question 3

In [80]:
a.shape

(40,)

5. Print the type of the previous array in question 3

In [81]:
# type shows data type in python,dtype will show type in NumPy.
print(type(a)) 
print(a.dtype)

<class 'numpy.ndarray'>
int32

6. Print the numpy version and the configuration

In [82]:
print(np.version.version)
print(np.show_config())

1.19.2
blas_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/SyedA/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/SyedA/anaconda3\\Library\\include']
blas_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/SyedA/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/SyedA/anaconda3\\Library\\include']
lapack_mkl_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/SyedA/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/SyedA/anaconda3\\Library\\include']
lapack_opt_info:
    libraries = ['mkl_rt']
    library_dirs = ['C:/Users/SyedA/anaconda3\\Library\\lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['C:/Users/SyedA/anaconda3\\Library\\include']
None


7. Print the dimension of the array in question 3

In [83]:
print(a)
a.ndim

[10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

1

8. Create a boolean array with all the True values

In [84]:
A = np.array([4, 4, 4, 4, 4, 4])
print(A == 4)

[ True  True  True  True  True  True]

9. Create a two dimensional array

In [85]:
a=np.array([[1,2,3,5],[1,2,3,4]])
a

array([[1, 2, 3, 5],
       [1, 2, 3, 4]])

10. Create a three dimensional array

In [86]:
a=np.array([[[1,2,3],[3,4,5],[6,7,8]]])
a

array([[[1, 2, 3],
        [3, 4, 5],
        [6, 7, 8]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [87]:
a=np.array([1,2,3,4,5])
print(a)
print(a[-1::-1])

[1 2 3 4 5]
[5 4 3 2 1]

12. Create a null vector of size 10 but the fifth value which is 1

In [88]:
a=np.zeros(10)
a[4]=1
a

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0.])

13. Create a 3x3 identity matrix

In [89]:
np.eye(3,3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [90]:
arr = np.array([1, 2, 3, 4, 5])
print(arr.dtype)
arr = np.array([1, 2, 3, 4, 5])*1.0
print(arr.dtype)

int32
float64

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [91]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
arr1*arr2

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [92]:
arr1 = np.array([[1., 2., 3.],[4., 5., 6.]])  
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
arr=arr1==arr2
arr

array([[False, False, False],
       [False, False, False]])

17. Extract all odd numbers from arr with values(0-9)

In [93]:
arr=np.arange(0,10,3)
arr

array([0, 3, 6, 9])

18. Replace all odd numbers to -1 from previous array

In [94]:
arr=np.arange(0,10,2)
arr

array([0, 2, 4, 6, 8])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [95]:
na=np.arange(0,15)
na[5]=12
na[6]=12
na[7]=12
na[8]=12
na

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9, 10, 11, 12, 13, 14])


20. Create a 2d array with 1 on the border and 0 inside

In [96]:
ar_2d=np.eye(4,4)
ar_2d

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [97]:
arr2d = np.array([[1, 2, 3],[4, 5, 6], [7, 8, 9]])
arr2d[1][1]=12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [98]:
arr3d = np.array([[[1, 2, 3*64.0], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0]=64
arr3d

array([[[64., 64., 64.],
        [64., 64., 64.]],

       [[ 7.,  8.,  9.],
        [10., 11., 12.]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [99]:
arr2d=np.array([[0,1,2,3,4],[5,6,7,8,9]])
arr2d[0][0:5]

array([0, 1, 2, 3, 4])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [100]:
arr2d=np.array([[0,1,2,3,4],[5,6,7,8,9]])
arr2d[1][1]

6

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [101]:
t_d=np.array([[0,1,2,3,4],[5,6,7,8,9]])
print(t_d)
print('\n',t_d[:3:,2])

[[0 1 2 3 4]
 [5 6 7 8 9]]

 [2 7]

26. Create a 10x10 array with random values and find the minimum and maximum values

In [102]:
r_a=np.random.randint((10,10))
a=[10,8,9]
b=[5,4,3]
print('random numbers are ',r_a)
print(r_a.max())
print(r_a.min())

random numbers are  [3 3]
3
3

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [103]:
a= np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.unique((a,b))

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [104]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.where(a==b)

(array([1, 3, 5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [105]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
print(data)
print('\n',data[names!="Will"])

[[-0.10863324  0.11319881  1.01459385  0.55469546]
 [ 0.84700659 -0.46380461  2.19196149  2.07393263]
 [ 0.47626493  2.32942521 -0.79278774  0.6633321 ]
 [ 2.04287358 -0.32730165  1.16838082 -1.01889224]
 [ 0.19902492  1.56377777  0.92696536 -2.01236878]
 [-0.80278552  1.97596343 -0.30121951 -0.14857298]
 [-0.37388314 -0.60998941  0.03944328  0.55305456]]

 [[-0.10863324  0.11319881  1.01459385  0.55469546]
 [ 0.84700659 -0.46380461  2.19196149  2.07393263]
 [ 2.04287358 -0.32730165  1.16838082 -1.01889224]
 [-0.80278552  1.97596343 -0.30121951 -0.14857298]
 [-0.37388314 -0.60998941  0.03944328  0.55305456]]

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [106]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
data[names=="Bob"]

array([[-1.54043252,  1.47128152,  0.85516112, -0.39296602],
       [-1.55123605, -0.16468242,  1.55662865,  1.15696136]])

]Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [107]:
t_d=np.arange(1,16).reshape(5,3)
t_d

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12],
       [13, 14, 15]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [110]:
t_d=np.arange(1,17,1).reshape(2,2,4)
t_d

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]]])

33. Swap axes of the array you created in Question 32

In [113]:
t_d[0][1]=t_d[1][0]
t_d

array([[[ 1,  2,  3,  4],
        [ 9, 10, 11, 12]],

       [[ 9, 10, 11, 12],
        [13, 14, 15, 16]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [120]:
s=np.random.randint(10)
print(s)
print(np.sqrt(s))
print(np.where(s<0.5,0,1))

7
2.6457513110645907
1

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [134]:
ar1=np.array(np.random.rand(12))
ar2=np.array(np.random.rand(12))
print('\n',ar1)
print('\n',ar2)
print('\n',np.where(ar1>ar2,ar1,ar2))
print('\n',np.where(ar2>ar1,ar2,ar1))

 [0.61478692 0.482619   0.24547099 0.4474895  0.81732569 0.79811974
 0.51600298 0.68537539 0.12376031 0.07290845 0.22979852 0.75794778]

 [0.26466815 0.90968842 0.57093168 0.93001361 0.34603186 0.78191885
 0.05071915 0.45601036 0.62231501 0.90884636 0.71508681 0.12453806]

 [0.61478692 0.90968842 0.57093168 0.93001361 0.81732569 0.79811974
 0.51600298 0.68537539 0.62231501 0.90884636 0.71508681 0.75794778]

 [0.61478692 0.90968842 0.57093168 0.93001361 0.81732569 0.79811974
 0.51600298 0.68537539 0.62231501 0.90884636 0.71508681 0.75794778]

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [99]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [138]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
print(a!=b)
print('\n',np.setdiff1d(a,b))

[ True  True  True  True  True]

 [1 2 3 4]

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [144]:
sampleArray=np.array([[34,43,73],[82,22,12],[53,94,66]])
newColumn = np.array([[10,10,10]])
print(sampleArray)
print('\n',sampleArray[:,:2])

[[34 43 73]
 [82 22 12]
 [53 94 66]]

 [[34 43]
 [82 22]
 [53 94]]

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [6]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])
np.dot(x,y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [5]:
r=np.random.randn(20)
print(r)
print('\n',r.cumsum())

[-1.86571998  0.70010098  0.08661016  0.15204086  1.65666361  1.0956627
 -0.92903415  1.39468652 -0.18034894 -0.32513077 -0.46056573  0.96558999
 -0.06191829  1.09656411 -1.27607929  1.55805894 -0.99360687 -2.09569614
  0.77601184  0.3843004 ]

 [-1.86571998 -1.165619   -1.07900883 -0.92696797  0.72969563  1.82535834
  0.89632419  2.29101071  2.11066177  1.785531    1.32496527  2.29055526
  2.22863697  3.32520108  2.04912179  3.60718073  2.61357386  0.51787771
  1.29388955  1.67818996]